[Unit]
Description=Block Deamon service

[Service]
User=root
WorkingDirectory=
ExecStart=/bin/block_monitor
Restart=always

[Install]
WantedBy=multi-user.target